Repository voxpupuli/puppet-augeasproviders_nagios, pull requests merged in 2024-04, with the labels that each got.

#8 Add Puppet 8 support
  metadata.json
Labels: enhancement

#9 fix dependency to puppet/augeasproviders_core
  metadata.json
Labels: enhancement

#10 puppet/augesproviders_core: allow 4.x
  metadata.json
Labels: enhancement

#12 Release 3.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#13 modulesync 7.4.0
  .github/CONTRIBUTING.md
  .gitignore
  .msync.yml
  Dockerfile
Labels: modulesync

#14 modulesync 7.5.0
  .msync.yml
Labels: modulesync
